// Transparent navbar styling, adapted directly from Bootstrap's navbar styles:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_navbar.scss

#header-navbar {
    background-color: #3c0000;
}

#header-navbar .navbar-brand {
    width: auto;
    background: none;
    text-indent: 0%;
    padding: 15px 15px 15px 0px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    color: white;
}

.tamu-logo {
  @if $logo-image {
    background: transparent $logo-image no-repeat top left !important;
  }
  flex: 0 0 48px !important;
  width: 48px !important;
}

.tamu-logo-divider {
    padding: 5px !important;
    margin: 10px 0px 0px 5px !important;
    border-left: 1px solid white !important;
    height: 30px !important;
}

.navbar-transparent {
    background-color: $navbar-transparent-bg;
    border-color: $navbar-transparent-border;

    .navbar-brand {
        color: $navbar-transparent-brand-color;

        &:focus,
        &:hover {
            color: $navbar-transparent-brand-hover-color;
            background-color: $navbar-transparent-brand-hover-bg;
        }
    }

    .navbar-text {
        color: $navbar-transparent-color;
    }

    .navbar-nav {
        > li > a {
            color: $navbar-transparent-link-color;

            &:focus,
            &:hover {
                color: $navbar-transparent-link-hover-color;
                background-color: $navbar-transparent-link-hover-bg;
            }
        }

        > .active > a {
            &,
            &:focus,
            &:hover {
                color: $navbar-transparent-link-active-color;
                background-color: $navbar-transparent-link-active-bg;
            }
        }

        > .disabled > a {
            &,
            &:focus,
            &:hover {
                color: $navbar-transparent-link-disabled-color;
                background-color: $navbar-transparent-link-disabled-bg;
            }
        }
    }
}

/* Header bar at top (Bootstrap nav-bar) */
.navbar-inverse .navbar-brand {
    color: $navbar-inverse-link-color;
}

.navbar-inverse .navbar-brand:hover {
    color: $navbar-inverse-link-hover-color;
}

@media (max-width: 768px) {
    .navbar {
        min-height: auto;
    }
    #header-navbar .navbar-brand {
    	padding: 15px 15px;
    }
}
