// Transparent navbar styling, adapted directly from Bootstrap's navbar styles:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_navbar.scss

#header-navbar {
    background-color: #3c0000;
}

#header-navbar .navbar-brand {
    width: auto;
    background: none;
    text-indent: 0%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    color: white;
    height: 50px;
    padding-top: 10px;
}

.navbar-transparent {
    background-color: $navbar-transparent-bg;
    border-color: $navbar-transparent-border;

    .navbar-brand {
        color: $navbar-transparent-brand-color;

        &:focus,
        &:hover {
            color: $navbar-transparent-brand-hover-color;
            background-color: $navbar-transparent-brand-hover-bg;
        }
    }

    .navbar-text {
        color: $navbar-transparent-color;
    }

    .navbar-nav {
        > li > a {
            color: $navbar-transparent-link-color;

            &:focus,
            &:hover {
                color: $navbar-transparent-link-hover-color;
                background-color: $navbar-transparent-link-hover-bg;
            }
        }

        > .active > a {
            &,
            &:focus,
            &:hover {
                color: $navbar-transparent-link-active-color;
                background-color: $navbar-transparent-link-active-bg;
            }
        }

        > .disabled > a {
            &,
            &:focus,
            &:hover {
                color: $navbar-transparent-link-disabled-color;
                background-color: $navbar-transparent-link-disabled-bg;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        min-height: auto;
    }
    #header-navbar .navbar-brand {
    	padding-left: 15px;
    }
}

header {
    .navbar-title {
        margin-left: 7px;
    }
    .navbar-brand>img {
        display: inline;
    }
    .tamu-header-nav-bar {
        background-color: #3c0000;
        margin: 0px;
    }
    .tamu-header-nav-bar .navbar-brand {
        color: $navbar-inverse-link-color;
    }
    .tamu-header-nav-bar .navbar-brand:hover {
        color: $navbar-inverse-link-hover-color;
    }
    .navbar-default {
        border: none;
    }
    .navbar-default .navbar-nav>li>a {
        color:#eee;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color:#000;
        background-color:#ffc222;
        text-decoration: none;
    }
    div.tamu-header-title-bar {
        background-color: #500000;
        border-top: 1px solid #8d8d8d;
        border-radius: 0;
        padding: 20px 0;
    }
    .tamu-header-title {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-variant: normal;
        color: white;
    }
    .tamu-header-title a {
        color: white;
        text-decoration: none;
    }
    .tamu-header-title a:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .tamu-header-brand {
        margin-top: 0px;
    }
    .tamu-header-brand-text {
        margin-left: 10px;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        color: white;
    }
    @media only screen and (max-width: 767px) {
        .tamu-header-title {
            padding-left: 15px;
        }
    }
}