@import "spotlight/variables";
@import "spotlight/mixins";
@import "bootstrap/variables";
@import "spotlight/navbar";
@import "spotlight/sir-trevor_overrides";
@import "spotlight/attachments";
@import "spotlight/pages";
@import 'blacklight_gallery/default';
@import "spotlight/browse";
@import "spotlight/header";
@import "spotlight/footer";
@import "spotlight/catalog";
@import "spotlight/croppable";
@import "spotlight/curation";
@import "spotlight/exhibit_admin";
@import "spotlight/edit_in_place";
@import "spotlight/featured_browse_categories_block";
@import "spotlight/item_text_block";
@import "spotlight/uploaded_items_block";
@import "spotlight/multi_image_selector";
@import "spotlight/multi_up_item_grid";
@import "spotlight/slideshow_block";
@import "spotlight/upload";
@import "spotlight/nestable";
@import "spotlight/blacklight_configuration";
@import "spotlight/typeahead";
@import "spotlight/bootstrap_overrides";
@import "spotlight/blacklight_overrides";
@import "spotlight/report_a_problem";
@import "spotlight/exhibits_index";
@import "spotlight/collapse_toggle";
@import "tamu/about_contacts";

@import url( 'https://fonts.googleapis.com/css?family=Lato');

body,
html {
    min-width: 300px;
    min-height: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    #main-container {
        flex: 1 1 auto;
        margin-bottom: 25px;
    }
}

.blacklight-home_pages-edit,
.blacklight-feature_pages-edit {
    [data-type="resources"] {
        display: none;
    }
}

.thumbnail {
    border: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
:focus {
    box-shadow: none !important;
    outline: -webkit-focus-ring-color auto 6px !important;
}

.pagination-search-widgets .search-widgets {
    display: none;
}
  
.sidenav > li.active > a,
.sidenav > li.active > h4,
.sidenav > li > ol.subsection > li.active {
    color: #500000;
    font-weight: bold;
}

.breadcrumb>.active {
    color: #585858;
}

.navbar-default .navbar-nav>li>a {
    color: #585858;
}

.dl-invert dt {
    color: #585858;
}
